.generator-container {
    display: flex;
    
    margin:30px;
}

.info-text {
    height: 25px;
}

canvas, .canvas {
    border: 3px solid skyblue;
    width: 1000px;
    height: 700px;
    margin-right: 50px;
    position: relative;;
}

.signs {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
}

.sign img {
    max-width: 100px;
    margin: 5px;
    border: 1px solid gray;
}

.rally-sign {
    position: absolute;
    max-width: 100px;
}

.arrow {
    margin: 15px;
}
