<h2 class="no-print">Pálya Generátor <img src="./assets/info.png" [title]="infoText" class="info-text"></h2>

<div class="generator-container">
  <div>
    <div class="canvas" id="canvas" #rallyCanvas  myDropTarget (myDrop)="onDrop($event)">
        <img class="rally-sign" *ngFor="let sign of rallySigns" 
        [style.left]="sign.posX" [style.top]="sign.posY" 
        src="./assets/signs/hu/{{sign.image}}.png" alt="sign.name" (click)="rotate($event, sign)">
    </div>
    <div class="arrow-container no-print">
      <img class="arrow" src="./assets/signs/hu/arrow_up.png" [myDraggable]="{data: {id:0, name:'arrow', image:'arrow_up'}}" alt="arrow">
      <img class="arrow" src="./assets/signs/hu/arrow_right.png" [myDraggable]="{data: {id:0, name:'arrow', image:'arrow_right'}}" alt="arrow">
      <img class="arrow" src="./assets/signs/hu/arrow_down.png" [myDraggable]="{data: {id:0, name:'arrow', image:'arrow_down'}}" alt="arrow">
      <img class="arrow" src="./assets/signs/hu/arrow_left.png" [myDraggable]="{data: {id:0, name:'arrow', image:'arrow_left'}}" alt="arrow">
    </div>
  </div>
  <div class="signs no-print">
      <div *ngFor="let sign of signs.signs" class="sign">
          <img [myDraggable]="{data: sign}" src="./assets/signs/hu/{{sign.image}}.png" [title]="sign.name"> 
        </div>
  </div>
</div>
